@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html,
body {
  touch-action: manipulation; /* empêche le double-tap zoom sur certains navigateurs */
}

body {
  -webkit-user-select: none; /* désactive la sélection (empêche aussi le pinch zoom indirectement) */
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%; /* évite l’auto zoom sur textes */
}
